body {
    color: #333;
    font-size: 125%;
    line-height: 1.5;
    padding: 1rem;
    margin: 0 auto;
    max-width: 100ch;
}

.title {
    font-weight: bold;
    color: black;
    font-size: 2.5rem;
    margin-left: 2rem;
    text-transform: capitalize;
}

.posts-all-list-elements {
    display: flex;
    flex-direction: column;
    margin-left: 8%;
}

.list-element {
    display: flex;
    height: 100%;
}

.list-element-date {
    font-family: 'Times New Roman';
    width: 10%;
}

.list-element-title {
    padding-left: 5%;
    width: 90%;
    font-size: x-large;
}