body {
  color: #333;
  font-size: 125%;
  line-height: 1.5;
  padding: 1rem;
  margin: 0 auto;
}

.centered-image {
  display: flex;
  justify-content: center;
}

.content {
  margin: 0 auto;
  max-width: 100ch;
}