@font-face {
    font-family: 'Raskhal';
    src: url('RaskhalRegular.eot');
    src: url('RaskhalRegular.eot?#iefix') format('embedded-opentype'),
        url('RaskhalRegular.woff2') format('woff2'),
        url('RaskhalRegular.woff') format('woff'),
        url('RaskhalRegular.ttf') format('truetype'),
        url('RaskhalRegular.svg#RaskhalRegular') format('svg');
}

html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    font-size: 100%;
    background-color: white;
    background-image: url('./wallpaper.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.glitched-background-text {
    position: absolute;
    z-index: -1;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 6em;
    font-family: Raskhal;
    color: black;
}