<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8" />
	<meta name="description" content="Daniel Orihuela blog and personal website"/>
	<meta name="viewport"/>

	<link rel="stylesheet" href="/css/everywhere.css" />

	<title>{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>

	{{ if .IsHome }}
		<link rel="stylesheet" href="/css/desktop.css" />
		<link rel="stylesheet" href="/css/icon.css" />
		<link rel="stylesheet" href="/css/frame.css" />
	{{ else if (eq .Kind "section") }}
		<link rel="stylesheet" href="/css/section.css" />
	{{ else if (eq .Kind "page") }}
		<link rel="stylesheet" href="/css/page.css" />

		<!-- Code syntax highlighting -->
		<link rel="stylesheet" href="/css/code.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
		<script>hljs.highlightAll();</script>
	{{ end }}

	{{ if (eq .Type "about") }}
		<link rel="stylesheet" href="/css/about.css" />
	{{ end }}

	{{ with .OutputFormats.Get "rss" -}}
		{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
	{{ end -}}

	<script type="module" src="/js/frame/index.js"></script>
</head>

<body>
