<span class="indicator-text">READ_ENTRY</span>

<style>
	.indicator-text {
		font-size: 10px;
		font-family: "Share Tech Mono", monospace;
		color: #b0bec5;
		transition: all 300ms;
		letter-spacing: 0.1em;
	}
</style>
