---
interface Props {
	slug: string;
	date: Date;
}

const { slug, date } = Astro.props;

// FNV-1a variant
function hash(str: string) {
	let hash = 2166136261;
	for (let i = 0; i < str.length; i++) {
		hash ^= str.charCodeAt(i);
		hash = Math.imul(hash, 16777619);
	}
	return (hash >>> 0).toString(16).padStart(7, "0").slice(0, 7);
}

function formatDate(date: Date) {
	return date.toISOString().split("T")[0].replaceAll("-", ".");
}
---

<div class="metadata-column">
	<span>{formatDate(date)}</span>
	<span>[rev:{hash(slug)}]</span>
</div>

<style>
	.metadata-column {
		display: flex;
		align-items: center;

		gap: 1rem;

		font-size: 0.75rem;
		font-family: "Liberation Mono", monospace;

		color: var(--text-body);
		opacity: 0.7;
	}
</style>
