---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<div class="title-column">
	<span class="title-symbol">&gt;</span>
	<h2 class="title-text">{title}</h2>
</div>

<style>
	.title-column {
		display: flex;
		align-items: center;
		gap: 0.5rem;
	}

	.title-symbol {
		transition: transform 300ms;
	}

	.title-text {
		font-size: 1rem;
		margin: 0;
	}

	@media (max-width: 640px) {
		.title-symbol {
			display: none;
		}

		.title-text {
			font-size: 0.875rem;
		}
	}
</style>
