@use 'sass:color';

code[class*="language-"],
pre[class*="language-"] {
    color: whitesmoke;
    text-shadow: 0 0 2px #100c0f, 0 0 5px #dc078e33, 0 0 10px #fff3;
    background: none;
    font-size: 1em;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
    padding: 1em;
    overflow: auto;
}

:not(pre)>code[class*="language-"],
pre[class*="language-"] {
    background: #34294f;
}

/* Inline code */
:not(pre)>code[class*="language-"] {
    padding: .1em;
    border-radius: .3em;
    white-space: normal;
}

/* Code colors */
.token.block-comment,
.token.cdata,
.token.comment,
.token.doctype,
.token.prolog {
    color: #969896;
}

.token.punctuation {
    color: #ccc;
}

.token.selector {
    color: #72f1b8;
    text-shadow: 0 0 2px #100c0f, 0 0 10px #257c5575, 0 0 35px #21272475;
}

.token.function-name {
    color: #6196cc;
}

.token.constant,
.token.symbol {
    color: #f92aad;
    text-shadow: 0 0 2px #100c0f, 0 0 5px #dc078e33, 0 0 10px #fff3;
}

.token.attr-value,
.token.char,
.token.regex,
.token.variable {
    color: #f87c32;
}

.token.entity,
.token.operator,
.token.url {
    color: #67cdcc;
}

.token.bold,
.token.important {
    font-weight: bold;
}

.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}

.token.inserted {
    color: green;
}

.token.string {
    color: lightgreen;
}

@mixin neon($color) {
    color: white;
    text-shadow:
        0 0 1px color.adjust($color, $alpha: 0.6),
        0 0 2px color.adjust($color, $alpha: 0.6),
        0 0 4px color.adjust($color, $alpha: 0.6),
        0 0 10px $color,
        0 0 20px $color;
}

.token.class-name,
.token.deleted,
.token.directive.keyword+.token.string,
.token.hexcode,
.token.namespace,
.token.tag,
.token.unit {
    @include neon(#ff4d4d)
}

.token.macro
 {
        @include neon(#f8d132)
}

.token.attr-name,
.token.boolean,
.token.function,
.token.selector .token.id {
    @include neon(#00f2ff)
}

.token.atrule,
.token.builtin,
.token.important,
.token.keyword,
.token.selector .token.class,
.token.token.directive-hash {
    @include neon(#bd32f8)
}