@font-face {
    font-family: 'Raskhal';
    src: url('../fonts/raskhal/RaskhalRegular.eot');
    src: url('../fonts/raskhal/RaskhalRegular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/raskhal/RaskhalRegular.woff2') format('woff2'),
        url('../fonts/raskhal/RaskhalRegular.woff') format('woff'),
        url('../fonts/raskhal/RaskhalRegular.ttf') format('truetype'),
        url('../fonts/raskhal/RaskhalRegular.svg#RaskhalRegular') format('svg');
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    z-index: 1;
    display: flex;
    font-size: 100%;
    background-color: white;
    background-image: url('../main_screen_wallpaper.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
}

.icons {
    display: flex;
    flex-direction: row;
    gap: 2.3em;
    margin-left: 2.3em;
    width: 30%;
}

.icons > * {
    max-width: 6em;
}

.glitched-background-text {
    position: absolute;
    z-index: 2;
    text-align: center;
    min-width: 70%;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    animation: glitch-skew 10s infinite step-end forwards;
    font-size: 6em;
    font-family: Raskhal;
    color: #ffffff;
}

.glitched-background-text::before {
    content: attr(data-text);
    position: absolute;
    width: 100%;
    left: 2px;
    text-shadow: -2px 0 #ff0000;
    clip: rect(44px, 450px, 56px, 0);
    overflow: hidden;
    animation: glitch-anim 5s infinite linear alternate-reverse;
}

.glitched-background-text::after {
    content: attr(data-text);
    position: absolute;
    width: 100%;
    left: -2px;
    text-shadow: -2px 0 #ff0000, 2px 2px #ff0000;
    overflow: hidden;
    animation: glitch-anim2 2s infinite linear alternate-reverse;
}

@keyframes glitch-anim {
    0% {
        clip: rect(11px, 9999px, 59px, 0);
        transform: skew(0.14deg);
    }

    5% {
        clip: rect(76px, 9999px, 22px, 0);
        transform: skew(0.5deg);
    }

    10% {
        clip: rect(83px, 9999px, 73px, 0);
        transform: skew(0.64deg);
    }

    15% {
        clip: rect(51px, 9999px, 6px, 0);
        transform: skew(0.53deg);
    }

    20% {
        clip: rect(42px, 9999px, 72px, 0);
        transform: skew(0.93deg);
    }

    25% {
        clip: rect(21px, 9999px, 99px, 0);
        transform: skew(0.82deg);
    }

    30% {
        clip: rect(32px, 9999px, 38px, 0);
        transform: skew(0.82deg);
    }

    35% {
        clip: rect(60px, 9999px, 9px, 0);
        transform: skew(0.24deg);
    }

    40% {
        clip: rect(80px, 9999px, 27px, 0);
        transform: skew(0.68deg);
    }

    45% {
        clip: rect(65px, 9999px, 71px, 0);
        transform: skew(0.16deg);
    }

    50% {
        clip: rect(54px, 9999px, 54px, 0);
        transform: skew(0.29deg);
    }

    55% {
        clip: rect(58px, 9999px, 96px, 0);
        transform: skew(0.8deg);
    }

    60% {
        clip: rect(87px, 9999px, 17px, 0);
        transform: skew(0.28deg);
    }

    65% {
        clip: rect(80px, 9999px, 31px, 0);
        transform: skew(0.78deg);
    }

    70% {
        clip: rect(3px, 9999px, 69px, 0);
        transform: skew(0.66deg);
    }

    75% {
        clip: rect(73px, 9999px, 4px, 0);
        transform: skew(0.61deg);
    }

    80% {
        clip: rect(3px, 9999px, 87px, 0);
        transform: skew(0.33deg);
    }

    85% {
        clip: rect(70px, 9999px, 85px, 0);
        transform: skew(0.33deg);
    }

    90% {
        clip: rect(80px, 9999px, 23px, 0);
        transform: skew(0.73deg);
    }

    95% {
        clip: rect(76px, 9999px, 55px, 0);
        transform: skew(0.87deg);
    }

    100% {
        clip: rect(31px, 9999px, 7px, 0);
        transform: skew(0.91deg);
    }
}

@keyframes glitch-anim2 {
    0% {
        clip: rect(34px, 9999px, 50px, 0);
        transform: skew(0.06deg);
    }

    5% {
        clip: rect(74px, 9999px, 57px, 0);
        transform: skew(0.2deg);
    }

    10% {
        clip: rect(47px, 9999px, 27px, 0);
        transform: skew(0.1deg);
    }

    15% {
        clip: rect(16px, 9999px, 10px, 0);
        transform: skew(0.3deg);
    }

    20% {
        clip: rect(89px, 9999px, 63px, 0);
        transform: skew(0.04deg);
    }

    25% {
        clip: rect(27px, 9999px, 96px, 0);
        transform: skew(0.01deg);
    }

    30% {
        clip: rect(59px, 9999px, 69px, 0);
        transform: skew(0.83deg);
    }

    35% {
        clip: rect(44px, 9999px, 42px, 0);
        transform: skew(0.25deg);
    }

    40% {
        clip: rect(40px, 9999px, 77px, 0);
        transform: skew(0.31deg);
    }

    45% {
        clip: rect(44px, 9999px, 4px, 0);
        transform: skew(0.76deg);
    }

    50% {
        clip: rect(23px, 9999px, 42px, 0);
        transform: skew(0.84deg);
    }

    55% {
        clip: rect(97px, 9999px, 22px, 0);
        transform: skew(0.52deg);
    }

    60% {
        clip: rect(92px, 9999px, 37px, 0);
        transform: skew(0.31deg);
    }

    65% {
        clip: rect(20px, 9999px, 17px, 0);
        transform: skew(0.84deg);
    }

    70% {
        clip: rect(71px, 9999px, 52px, 0);
        transform: skew(0.87deg);
    }

    75% {
        clip: rect(6px, 9999px, 64px, 0);
        transform: skew(0.02deg);
    }

    80% {
        clip: rect(61px, 9999px, 1px, 0);
        transform: skew(0.25deg);
    }

    85% {
        clip: rect(100px, 9999px, 88px, 0);
        transform: skew(0.85deg);
    }

    90% {
        clip: rect(95px, 9999px, 86px, 0);
        transform: skew(0.46deg);
    }

    95% {
        clip: rect(71px, 9999px, 59px, 0);
        transform: skew(0.23deg);
    }

    100% {
        clip: rect(18px, 9999px, 70px, 0);
        transform: skew(0.42deg);
    }
}

@keyframes glitch-skew {
    80% {
        transform: translateX(-50%) translateY(-50%) skew(-70deg);
    }

    81% {
        transform: translateX(-50%) translateY(-50%);
    }

    94% {
        transform: translateX(-50%) translateY(-50%) skew(-70deg);
    }

    95% {
        transform: translateX(-50%) translateY(-50%);
    }

    96% {
        transform: translateX(-50%) translateY(-50%) skew(-85deg);
    }

    97% {
        transform: translateX(-50%) translateY(-50%);
    }
}