body {
    color: #333;
    font-size: 125%;
    line-height: 1.5;
    padding: 1rem;
    margin: 0 auto;
    max-width: 100ch;
}

.centered-image {
    display: flex;
    justify-content: center;
}

.posts-list-element {
    display: flex;
    align-items: center;
    height: 100%;
}

.posts-list-element-date {
    margin-left: 8%;
    width: 20%;
}

.posts-list-element-title {
    width: 90%;
    font-size: x-large;
}