---
interface Props {
    command: string;
}

const { command } = Astro.props;
---

<div class="container">
    <span class="symbol">$</span>
    <span class="command">{command}</span>
</div>

<style>
    .container {
        font-size: 0.75rem;
        margin: 1rem 0;
        border-bottom: 1px solid var(--border);
        padding-bottom: 1rem;
    }

    @media (min-width: 640px) {
        .container {
            font-size: 0.875rem;
        }
    }

    .symbol {
        color: var(--accent);
    }

    .command {
        color: var(--text-bright);
    }
</style>
