---
interface Props {
	publishdate: Date;
	contentLength: number;
}

const { publishdate, contentLength } = Astro.props;

const formattedDate = publishdate.toISOString().split("T")[0];
const fileSize = (contentLength / 1024).toFixed(1) + " KB";
---

<div class="container">
	<div class="left">
		<span class="badge">READ_ONLY</span>
		<span class="key"
			>| DATE: <span class="value">{formattedDate}</span></span
		>
		<span class="key">| SIZE: <span class="value">{fileSize}</span></span>
	</div>
	<div class="right">
		Lines: <span class="value">AUTO</span>
		| Encoding: <span class="value">UTF-8</span>
	</div>
</div>

<style>
	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: var(--accent-extra-dim);
		padding: 0.5rem 1rem;

		font-family: "Share Tech Mono", monospace;
		font-size: 0.8em;
	}

	.container::before {
		content: "●";
		color: var(--accent);
		font-size: 0.8em;
	}

	.left {
		display: flex;
		align-items: center;
		gap: 0.5rem;
	}

	.badge {
		color: var(--accent);
		font-size: 0.8em;
	}

	.key {
		color: var(--text-dim);
		font-size: 0.75rem;
		text-transform: uppercase;
	}

	.right {
		display: none;
	}

	.value {
		color: var(--accent);
	}

	@media (min-width: 640px) {
		.left {
			display: flex;
			align-items: center;
			gap: 0.5rem;
		}

		.right {
			display: block;
			font-size: 0.8em;
			color: var(--text-dim);
			font-family: "Courier New", monospace;
		}
	}
</style>
