---
interface Props {
	publishdate: Date;
	contentLength: number;
}

const { publishdate, contentLength } = Astro.props;

const formattedDate = publishdate.toISOString().split("T")[0];
const fileSize = (contentLength / 1024).toFixed(1) + " KB";
---

<div class="container">
	<div class="left">
		<span class="value">READ_ONLY</span>
		<span>| DATE: <span class="value">{formattedDate}</span></span>
		<span>| SIZE: <span class="value">{fileSize}</span></span>
		<span class="right">| LINES: <span class="value">AUTO</span> </span>
		<span class="right">| ENCODING: <span class="value">UTF-8</span> </span>
	</div>
</div>

<style>
	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: var(--accent-extra-dim);
		padding: 0.5rem 1rem;
		font-family: "Share Tech Mono", monospace;
		font-size: 0.75rem;
		color: var(--text-dim);
	}

	.container::before {
		content: "●";
		color: var(--accent);
	}

	.left {
		display: flex;
		align-items: center;
		gap: 0.5rem;
	}

	.value {
		color: var(--accent);
	}

	.right {
		display: none;
	}

	@media (min-width: 640px) {
		.right {
			display: block;
		}
	}
</style>
