---
import HeaderLink from './HeaderLink.astro';
---

<header>
	<nav>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/open-source">Open Source</HeaderLink>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
	}

	.internal-links {
		width: 100%;
		display: flex;
		justify-content: center;
		gap: 1rem;
	}
	.internal-links a {
		padding: 1em 0.5em;
		border-bottom: 4px solid transparent;
		text-decoration: none;
		
		display: inline-block;
		position: relative;
	}
	.internal-links a::after {
		content: '';
		position: absolute;
		width: 100%;
		transform: scaleX(0);
		height: 2px;
		bottom: 0;
		left: 0;
		background-color: var(--accent);
		transform-origin: bottom right;
		transition: transform 0.25s ease-out;
	}
	.internal-links a:hover::after {
		transform: scaleX(1);
		transform-origin: bottom left;
	}
</style>
