---
interface Props {
    href: string;
    image: string;
    class?: string;
}

const { href, image, class: className } = Astro.props;
---

<style>
    @property --a {
        syntax: "<angle>";
        inherits: false;
        initial-value: 0deg;
    }
    @keyframes animate {
        0% {
            --a: 0deg;
        }
        100% {
            --a: 360deg;
        }
    }

    .loader {
        grid-row-start: 1;
        grid-column-start: 1;
        opacity: 0;
        position: relative;
        border-radius: 10px;
        background: repeating-conic-gradient(
            from var(--a),
            var(--electric-blue) 0%,
            var(--electric-blue) 5%,
            transparent 5%,
            transparent 40%,
            var(--electric-blue) 50%
        );
        animation: animate 2s infinite linear;
    }

    .loader::before {
        content: "";
        position: absolute;
        inset: 3px;
        background-color: darkslateblue;
        border-radius: 10px;
    }

    @keyframes pulseGlow {
        0% { box-shadow: 0 0 10px royalblue; }
        50% { box-shadow: 0 0 20px royalblue; }
        100% { box-shadow: 0 0 10px royalblue; }
    }

    .pulse-btn {
        grid-row: 1 / -1;
        grid-column: 1 / -1;
        z-index: 0;

        color: royalblue;
        border: none;
        border-radius: 10px;
        animation: pulseGlow 1.5s infinite alternate;
    }
</style>

<div class:list={[ "grid group", className ]}>
    <div class="loader group-hover:opacity-100"></div>
    <a class="pulse-btn" href={href}>
        <img src={image} />
    </a>
</div>
