---
interface Props {
    href: string;
    image: string;
}

const { href, image } = Astro.props;
---

<style>
    @property --a {
        syntax: "<angle>";
        inherits: false;
        initial-value: 0deg;
    }
    @keyframes animate {
        0% {
            --a: 0deg;
        }
        100% {
            --a: 360deg;
        }
    }
    .loader {
        grid-row-start: 1;
        grid-column-start: 1;

        opacity: 0;
        width: 48px;
        height: 48px;
        position: relative;
        background: repeating-conic-gradient(
            from var(--a),
            var(--accent) 0%,
            var(--accent) 5%,
            transparent 5%,
            transparent 40%,
            var(--accent) 50%
        );
        animation: animate 2s infinite linear;
    }
    .loader::before {
        content: "";
        position: absolute;
        inset: 3px;
        background-color: #222222;
    }
</style>

<div class="grid w-fit group">
    <div class="loader group-hover:opacity-100"></div>
    <a class="row-span-full col-span-full w-10 h-10 p-1 m-auto z-0" href={href}
        ><img src={image} /></a
    >
</div>
