---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
	title: string;
	description: string;
	image?: string;
	bodyClass?: string;
}

const { title, description, image, bodyClass } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} image={image} />
	</head>
	<body class={bodyClass}>
		<Header />
		<slot />
		<Footer />
	</body>
</html>
