/* Based on https://github.com/highlightjs/highlight.js/blob/55f68f72be2cb69d14561353ad851d6b2242dfcc/src/styles/tomorrow-night-bright.css */

/* Comment */
.hljs-comment,
.hljs-quote {
  color: #969896;
}

/* Code background */
.hljs {
  color: white;
}

pre:has(code) {
  background: #34294f;
  padding: 2%;
  border-radius: 10px;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.hljs-variable {
  color: white;

  text-shadow:
    0 0 1px #ff5e0099,
    0 0 2px #ff5e0099,
    0 0 4px #ff5e0099,
    0 0 10px #ff5e00,
    0 0 20px #ff5e00;
}

.hljs-built_in,
.hljs-title.function_ {
  color: white;

  text-shadow:
    0 0 1px #00f2ff99,
    0 0 2px #00f2ff99,
    0 0 4px #00f2ff99,
    0 0 10px #00f2ff,
    0 0 20px #00f2ff;
}

.hljs-keyword {
  color: white;

  text-shadow:
    0 0 1px #f8d13299,
    0 0 2px #f8d13299,
    0 0 4px #f8d13299,
    0 0 10px #f8d132,
    0 0 20px #f8d132;
}

.hljs-meta,
.hljs-title.class_ {
  color: white;

  text-shadow:
    0 0 1px #ff4d4d99,
    0 0 2px #ff4d4d99,
    0 0 4px #ff4d4d99,
    0 0 10px #ff4d4d,
    0 0 20px #ff4d4d;
}

.hljs-type {
  color: white;

  text-shadow:
    0 0 1px #9a34ff99,
    0 0 2px #9a34ff99,
    0 0 4px #9a34ff99,
    0 0 10px #9a34ff,
    0 0 20px #9a34ff;
}

/* Special section for "emacs-lisp" (chroma syntax highlighter) */

.language-emacs-lisp {
  color: white;
}

.chroma .nv {
  color: white;

  text-shadow:
    0 0 1px #ff4d4d99,
    0 0 2px #ff4d4d99,
    0 0 4px #ff4d4d99,
    0 0 10px #ff4d4d,
    0 0 20px #ff4d4d;
}

.chroma .nb {
  color: white;

  text-shadow:
    0 0 1px #f8d13299,
    0 0 2px #f8d13299,
    0 0 4px #f8d13299,
    0 0 10px #f8d132,
    0 0 20px #f8d132;
}