/*
0-768px phone 
769 - 1023px tablet
1024 - infinite desktop or bigger screen
*/

/* General Style */

@font-face {
    font-family: 'Moondance';
    src: url('../fonts/moondance/Moondance.eot');
    src: url('../fonts/moondance/Moondance.eot?#iefix') format('embedded-opentype'),
        url('../fonts/moondance/Moondance.woff2') format('woff2'),
        url('../fonts/moondance/Moondance.woff') format('woff'),
        url('../fonts/moondance/Moondance.ttf') format('truetype'),
        url('../fonts/moondance/Moondance.svg#Moondance') format('svg');
}

.icons {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(6em, 1fr));
    width: 100%;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5em;
}

.icon:hover {
    background-color: rgb(132, 220, 255);
}

.icon-image {
    width: 3em;
    height: 3em;
}

.icon-caption {
    text-align: center;
    color: white;
    font-size: 1.2rem;
    padding: 0.2em 1em;
    cursor: default;
    font-family: Iceland;
}

@keyframes noise-1 {
    5% { clip-path: inset(1px 0 36px 0); }
    10% { clip-path: inset(73px 0 2px 0); }
    15% { clip-path: inset(32px 0 54px 0); }
    20% { clip-path: inset(100px 0 1px 0); }
    25% { clip-path: inset(50px 0 36px 0); }
    30% { clip-path: inset(84px 0 16px 0); }
    35% { clip-path: inset(40px 0 33px 0); }
    40% { clip-path: inset(6px 0 10px 0); }
    45% { clip-path: inset(88px 0 6px 0); }
    50% { clip-path: inset(86px 0 11px 0); }
    55% { clip-path: inset(90px 0 7px 0); }
    60% { clip-path: inset(21px 0 77px 0); }
    65% { clip-path: inset(65px 0 33px 0); }
    70% { clip-path: inset(80px 0 15px 0); }
    75% { clip-path: inset(69px 0 18px 0); }
    80% { clip-path: inset(33px 0 9px 0); }
    85% { clip-path: inset(16px 0 61px 0); }
    90% { clip-path: inset(37px 0 47px 0); }
    95% { clip-path: inset(75px 0 9px 0); }
    100% { clip-path: inset(54px 0 36px 0); }
}

@keyframes noise-2 {
    0% { clip-path: inset(20px 0 34px 0); }
    5% { clip-path: inset(62px 0 23px 0); }
    10% { clip-path: inset(75px 0 10px 0); }
    15% { clip-path: inset(52px 0 38px 0); }
    20% { clip-path: inset(19px 0 43px 0); }
    25% { clip-path: inset(61px 0 31px 0); }
    30% { clip-path: inset(81px 0 11px 0); }
    35% { clip-path: inset(33px 0 67px 0); }
    40% { clip-path: inset(87px 0 5px 0); }
    45% { clip-path: inset(88px 0 3px 0); }
    50% { clip-path: inset(92px 0 8px 0); }
    55% { clip-path: inset(85px 0 8px 0); }
    60% { clip-path: inset(46px 0 49px 0); }
    65% { clip-path: inset(46px 0 49px 0); }
    70% { clip-path: inset(89px 0 5px 0); }
    75% { clip-path: inset(78px 0 17px 0); }
    80% { clip-path: inset(19px 0 58px 0); }
    85% { clip-path: inset(80px 0 1px 0); }
    90% { clip-path: inset(41px 0 51px 0); }
    95% { clip-path: inset(27px 0 68px 0); }
    100% { clip-path: inset(63px 0 34px 0); }
}


/* Phone style */

body {
    display: flex;
    width: 100%;
    margin: 0;

    font-size: 100%;
    
    background-color: white;
    background-image: url('../cyber-reaper.avif');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.glitched-background-text {
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    
    cursor: default;

    font-size: 10vw;
    text-align: center;
    font-family: Moondance;
    color: #ffffff;
    
    animation: glitch-skew-phone 10s infinite step-end forwards;
}

.glitched-background-text::before {
    content: attr(data-text);
    
    position: absolute;
    width: 100%;
    top: 0px;
    left: 2px;
    
    text-shadow: -2px 0 #ff0000;
    animation: noise-1 5s infinite linear alternate-reverse;
}

.glitched-background-text::after {
    content: attr(data-text);

    position: absolute;
    width: 100%;
    top: 0px;
    left: -2px;

    text-shadow: -2px 0 #ff0000, 2px 2px #ff0000;
    animation: noise-2 2s infinite linear alternate-reverse;
}

@keyframes glitch-skew-phone {
    80% { transform: translateX(-50%) translateY(-50%) skew(-70deg); }
    81% { transform: translateX(-50%) translateY(-50%); }
    94% { transform: translateX(-50%) translateY(-50%) skew(-70deg); }
    95% { transform: translateX(-50%) translateY(-50%); }
    96% { transform: translateX(-50%) translateY(-50%) skew(-85deg); }
    97% { transform: translateX(-50%) translateY(-50%); }
}

/* Desktop (or bigger screen) style */

@media only screen and (min-width: 1024px) {
    body {
        background-image: url('../cyber-reaper-full.avif');
        background-position: right center;
    }

    .glitched-background-text {
        left: 5%;
        transform: translateY(-50%);

        font-size: 6rem;

        animation: glitch-skew-desktop 10s infinite step-end forwards;
    }

    
}

@keyframes glitch-skew-desktop {
    80% { transform: translateY(-50%) skew(-70deg); }
    81% { transform: translateY(-50%); }
    94% { transform: translateY(-50%) skew(-70deg); }
    95% { transform: translateY(-50%); }
    96% { transform: translateY(-50%) skew(-85deg); }
    97% { transform: translateY(-50%); }
}