@font-face {
    font-family: 'Iceland';
    src: url('../fonts/iceland/iceland.eot');
    src: url('../fonts/iceland/iceland.eot?#iefix') format('embedded-opentype'),
        url('../fonts/iceland/iceland.woff2') format('woff2'),
        url('../fonts/iceland/iceland.woff') format('woff'),
        url('../fonts/iceland/iceland.ttf') format('truetype'),
        url('../fonts/iceland/iceland.svg#Iceland-Regular') format('svg');
}

@font-face {
    font-family: 'Rajdhani';
    src: url('../fonts/rajdhani/rajdhani-light/Rajdhani-Light.eot');
    src: url('../fonts/rajdhani/rajdhani-light/Rajdhani-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/rajdhani/rajdhani-light/Rajdhani-Light.woff2') format('woff2'),
        url('../fonts/rajdhani/rajdhani-light/Rajdhani-Light.woff') format('woff'),
        url('../fonts/rajdhani/rajdhani-light/Rajdhani-Light.ttf') format('truetype'),
        url('../fonts/rajdhani/rajdhani-light/Rajdhani-Light.svg#Rajdhani-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Rajdhani';
    src: url('../fonts/rajdhani/rajdhani-medium/Rajdhani-Medium.eot');
    src: url('../fonts/rajdhani/rajdhani-medium/Rajdhani-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/rajdhani/rajdhani-medium/Rajdhani-Medium.woff2') format('woff2'),
        url('../fonts/rajdhani/rajdhani-medium/Rajdhani-Medium.woff') format('woff'),
        url('../fonts/rajdhani/rajdhani-medium/Rajdhani-Medium.ttf') format('truetype'),
        url('../fonts/rajdhani/rajdhani-medium/Rajdhani-Medium.svg#Rajdhani-Medium') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Rajdhani';
    src: url('../fonts/rajdhani/rajdhani-regular/Rajdhani-Regular.eot');
    src: url('../fonts/rajdhani/rajdhani-regular/Rajdhani-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/rajdhani/rajdhani-regular/Rajdhani-Regular.woff2') format('woff2'),
        url('../fonts/rajdhani/rajdhani-regular/Rajdhani-Regular.woff') format('woff'),
        url('../fonts/rajdhani/rajdhani-regular/Rajdhani-Regular.ttf') format('truetype'),
        url('../fonts/rajdhani/rajdhani-regular/Rajdhani-Regular.svg#Rajdhani-Regular') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Rajdhani';
    src: url('../fonts/rajdhani/rajdhani-semibold/Rajdhani-SemiBold.eot');
    src: url('../fonts/rajdhani/rajdhani-semibold/Rajdhani-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/rajdhani/rajdhani-semibold/Rajdhani-SemiBold.woff2') format('woff2'),
        url('../fonts/rajdhani/rajdhani-semibold/Rajdhani-SemiBold.woff') format('woff'),
        url('../fonts/rajdhani/rajdhani-semibold/Rajdhani-SemiBold.ttf') format('truetype'),
        url('../fonts/rajdhani/rajdhani-semibold/Rajdhani-SemiBold.svg#Rajdhani-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Rajdhani';
    src: url('../fonts/rajdhani/rajdhani-bold/Rajdhani-Bold.eot');
    src: url('../fonts/rajdhani/rajdhani-bold/Rajdhani-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/rajdhani/rajdhani-bold/Rajdhani-Bold.woff2') format('woff2'),
        url('../fonts/rajdhani/rajdhani-bold/Rajdhani-Bold.woff') format('woff'),
        url('../fonts/rajdhani/rajdhani-bold/Rajdhani-Bold.ttf') format('truetype'),
        url('../fonts/rajdhani/rajdhani-bold/Rajdhani-Bold.svg#Rajdhani-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: Rajdhani;
}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon/icomoon.eot');
    src: url('../fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'),
        url('../fonts/icomoon/icomoon.woff2') format('woff2'),
        url('../fonts/icomoon/icomoon.woff') format('woff'),
        url('../fonts/icomoon/icomoon.ttf') format('truetype'),
        url('../fonts/icomoon/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
    content: "\e900";
}

.icon-chevron-down:before {
    content: "\e901";
}

.icon-chevron-up:before {
    content: "\e902";
}