/* General Style */

body {
    font-size: 125%;
    line-height: 1.5;
    padding: 1rem;
    margin: 0 auto;
    max-width: 80ch;

    background-color: #000000;
    color: white;
}

.title {
    font-weight: bold;
    font-size: 3rem;
    margin-left: 2rem;
    text-transform: capitalize;
    font-family: Iceland;

    color: white;
    text-shadow:
        0 0 2px #00f2ff99,
        0 0 3px #00f2ff99,
        0 0 5px #00f2ff99,
        0 0 10px #00f2ff99,
        0 0 20px #00f2ff99,
        0 0 40px #00f2ff99,
        0 0 50px #00f2ff,
        0 0 60px #00f2ff;
}

.posts-all-list-elements {
    display: flex;
    flex-direction: column;
    font-family: Iceland;
}

.list-element-date {
    white-space: nowrap;
}

.list-element-title {
    padding-left: 5%;
    font-size: x-large;
}

/* Phone style */

.list-element {
    display: grid;
    align-items: baseline;
}

/* Tablet (or bigger screen) style */

@media only screen and (min-width: 769px) {
    .list-element {
        grid-template-columns: 1fr 10fr;
    }
}
